<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
  <display-name>ctest2.5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/user_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>com.servlet.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditPaperServlet</servlet-name>
    <servlet-class>com.servlet.EditPaperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPaperServlet</servlet-name>
    <url-pattern>/edit_paper</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreatePaperServlet</servlet-name>
    <servlet-class>com.servlet.CreatePaperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePaperServlet</servlet-name>
    <url-pattern>/create_paper</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JoinCourseServlet</servlet-name>
    <servlet-class>com.servlet.JoinCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinCourseServlet</servlet-name>
    <url-pattern>/join_course</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CollectionServlet</servlet-name>
    <servlet-class>com.servlet.CollectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectionServlet</servlet-name>
    <url-pattern>/collection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditCourseServlet</servlet-name>
    <servlet-class>com.servlet.EditCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCourseServlet</servlet-name>
    <url-pattern>/edit_course</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateCoursePaperServlet</servlet-name>
    <servlet-class>com.servlet.CreateCoursePaperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCoursePaperServlet</servlet-name>
    <url-pattern>/create_course_paper</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditCoursePaperServlet</servlet-name>
    <servlet-class>com.servlet.EditCoursePaperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCoursePaperServlet</servlet-name>
    <url-pattern>/edit_course_paper</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCoursePaperServlet</servlet-name>
    <servlet-class>com.servlet.DeleteCoursePaperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCoursePaperServlet</servlet-name>
    <url-pattern>/delete_course_paper</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateCourseServlet</servlet-name>
    <servlet-class>com.servlet.CreateCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCourseServlet</servlet-name>
    <url-pattern>/create_course</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCourseServlet</servlet-name>
    <servlet-class>com.servlet.DeleteCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCourseServlet</servlet-name>
    <url-pattern>/delete_course</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterTeacherServlet</servlet-name>
    <servlet-class>com.servlet.RegisterTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterTeacherServlet</servlet-name>
    <url-pattern>/register_teacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteMistakeServlet</servlet-name>
    <servlet-class>com.servlet.DeleteMistakeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMistakeServlet</servlet-name>
    <url-pattern>/delete_mistake</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProgramResultServlet</servlet-name>
    <servlet-class>com.servlet.ProgramResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgramResultServlet</servlet-name>
    <url-pattern>/program_result</url-pattern>
  </servlet-mapping>
</web-app>